/* Inventory Button */
.Btn {
    letter-spacing: 3px;
    /* margin-right: 10%; */
    border: 5px;
    border-style: double;
    padding: 5px 20px 5px 20px;
    /* float: right; */
}

.Plus {
    /* margin-right: 10%; */
   
  
}